@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

@font-face {
    font-family: 'Gotham';
    src: url('./Fonts/Gotham-Book.woff2') format('woff2'),
        url('./Fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./Fonts/public/Fonts/Gotham-Black.woff2') format('woff2'),
        url('./Fonts/Gotham-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./Fonts/Gotham-Bold.woff2') format('woff2'),
        url('./Fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./Fonts/Gotham-Medium.woff2') format('woff2'),
        url('./Fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url('./Fonts/Gotham-Ultra.woff2') format('woff2'),
        url('./Fonts/Gotham-Ultra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./Fonts/Gotham-Thin.woff2') format('woff2'),
        url('./Fonts/Gotham-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./Fonts/Gotham-Light.woff2') format('woff2'),
        url('./Fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



:root{
    --Big-heading:36px;
    --xl-heading:42px;
    --big-heading-max:60px;
    --medium-heading:28px;
    --small-heading:26px;
    --l-small-heading:24px;
    --md-small-heading:22px;
    --sm-small-heading:20px;
    --normal-text:20px;
    --medium-text:18px;
    --sm-text:16px;
    --l-text-main:22px;
}

body {
    font-family: 'Gotham' ;
}

